<div class="container-profile">

    <div class="column-left-profile">

      <div class="box-1">
        <% if @user.avatar.nil? %>
          <%= image_tag("no-user-image.gif", class: "img-avatar") %>
        <% else %>
          <%= image_tag(@user.avatar_url)%>
        <% end %>
      </div>

      <div class="box-1-1">

        <div><%= link_to "Edit", edit_user_registration_path, class: "btn btn-dark size-btn" %></div>

        <%= form_with model: @user do |f| %>


          <div><%= f.file_field :avatar, class: "no-display" %></div>

          <div class="btn btn-secondary size-btn"><%= f.label :avatar %></div>

          <div><%= f.submit "Save", class: "btn btn-light mt-2 size-btn", data: { turbo: false } %></div>    
        <% end %>
      
      </div>

      <div class="box-2">
        <div class="fs-4 text">Name: <%= @user.name %></div>

        <div class="fs-4 text">NickName: <%= @user.nickname %></div>

        <%# # Подтверждена почта или нет реализовать%>
        <div class="fs-4 text">Email: <%= @user.email %></div>
      </div>

      <div class="box-3">
        Онлайн или нет
      </div>
      
    </div>

    <div class="column-right-profile">
      <div class="add-song">
        <%= button_to "Add song", new_song_path, class: "btn btn-dark" %>
      </div>

      <div class="add-song">
        <%= button_to "Add song", new_song_path, class: "btn btn-dark" %>
      </div>

      <div class="add-song">
        <%= button_to "Add song", new_song_path, class: "btn btn-dark" %>
      </div>

      <div class="add-song">
        <%= button_to "Add song", new_song_path, class: "btn btn-dark" %>
      </div>
    </div>

</div>
