
<div class="title-registration me-3 ms-3">
  Личный кабинет
</div>

<div class="container-profile">

    <div class="column-left-profile">

      <div class="box-1">
        <%= user_avatar(@user)  %>
      </div>

      <div class="box-1-1">

        <div>
          <%= link_to "Edit", edit_user_registration_path, class: "btn btn-dark size-btn" %>
        </div>

        <%= form_with model: @user do |f| %>

          <div><%= f.label :avatar, class: "btn btn-secondary size-btn" %></div>
          <div><%= f.file_field :avatar, class: "no-display" %></div>

          <div>
            <%= f.submit "Save", class: "btn btn-light mt-2 size-btn", data: { turbo: false } %>
          </div>    
        <% end %>
      
      </div>

      <div class="box-2">
        <div class="fs-4 text">Name: <%= @user.name %></div>

        <div class="fs-4 text">NickName: <%= @user.nickname %></div>

        <%# # Подтверждена почта или нет реализовать%>
        <div class="fs-4 text">Email: <%= @user.email %></div>
      </div>

      <div class="box-3">
        Онлайн или нет
      </div>
      
    </div>

    <div class="column-right-profile">

      <div><%= link_to "Добавить песню", new_song_path, class: "btn btn-dark bi bi-music-note" %></div>

      <div><%= link_to "Создать список", songs_path, class: "btn btn-dark bi bi-music-note" %></div>

      <div><%= link_to "По авторам", new_song_path, class: "btn btn-dark bi bi-music-note" %></div>

      <div><%= link_to "Мои списки", new_song_path, class: "btn btn-dark bi bi-music-note-list" %></div>

      <div><%= link_to "Выучил", new_song_path, class: "btn btn-dark bi bi-music-note-list" %></div>
      
      <div><%= link_to "Учу", new_song_path, class: "btn btn-dark bi bi-music-note-list" %></div>

    </div>

</div>
