<div class="container">
  <h2 class="title-registration">Восстонавление пароля</h2>

  <div class="registration-edit-form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="actions-field mt-3 text-center">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-12">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-edit" %>
        </div>
      </div>
      
      <div class="actions-field mt-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-dark", data: { turbo: false } %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>

  <p class="title-registration"><%= link_to "Back", current_user, data: { turbo: false }, class: "link-white" %></p>
</div>
