<div class="container-fluid">
  <div class="row">
    <div class="col text-center border-end border-bottom">
      <p class="title-add fs-6 text "><%= "Последние добавленные" %></p>
      <div class="row">
        <% @songs.each do |song| %>
          <div class="col-7">
            <% if song.teach == "в архив" %>
              <p class=""><%= link_to song.title, song_path(song), class: "text-decoration-line-through" %></p>
            <% else %>
              <p class=""><%= link_to song.title, song_path(song), class: "text-decoration-none" %></p>
            <% end %>
          </div>
          <% if current_user.present? %>
            <div class="col-5 text-start">
              <%= link_to icon("pencil-fill"), edit_song_path(song) %>
              <%= link_to icon("trash-fill"), song_path(song),
                  data: { 
                    turbo_method: "delete",
                    turbo_confirm: "are_you_sure"
                    } %>
              <%= choice_status(song) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-7">
      <% if false %>
        <div class="column-center-one m-2 text-list-home">
          <p class="m-0"> <%= link_to "Все", song_all_path %></p>
          <p class="m-0"> <%= link_to "Популярные" %></p>
          <p class="m-0"> <%= link_to "По жанрам" %></p>
          <p class="m-0"> <%= link_to "По исполнителям", authors_path %> </p>
          <p class="m-0"> <%= link_to "Добавить" %> </p>
          <p class="m-0"><%= link_to "Изучение" %></p>
        </div>
      <% end %>
      <div class="column-center m-1">
        <% @alphabets.each do |letter| %>
          <em><%= link_to letter.abc, alphabet_path(letter), class: "color-blue" %></em>
        <% end %>
      </div>
    </div>
    <div class="col text-center border-bottom border-start">
      <p class="title-add fs-6 text-center"><%= "По авторам" %></p>
      <% @authors.each do |author|%>
        <% unless author.songs.blank? %>
          <p><%= link_to author.name, author_path(author) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
